@import "tailwindcss";
@plugin "daisyui";

/* Light theme */
@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #0f7fbf;
  --color-secondary: #98CD00;
  --color-accent: #0f7faf10;
  --color-neutral:#ffffff;
  --color-info:#0f0f0f;
}

/* Dark theme */
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #8FA31E;
  --color-secondary: #4050f0;
  --color-accent: #8FA31E10;
  --color-neutral:#000000;
  --color-info:#f0f0f0
}
