@import "tailwindcss";
@plugin "daisyui";

/* Light theme */
@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #0f7faf;
  --color-secondary: #98CD00;
  --color-accent: #E9E9E9;
  --color-neutral:#ffffff;
  --color-info:#0f0f0f;
}

/* Dark theme */
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #66fcf1;
  --color-secondary: #98CD00;
  --color-accent: #141619;
  --color-neutral:#000000;
  --color-info:#f0f0f0
}
