@import "tailwindcss";
@plugin "daisyui";

/* Light theme */
@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #1f1f1f;
  --color-secondary: #0f7fbf;
  --color-accent: #0f7fbf10;
  --color-neutral:#ffffff;
  --color-info:#ff2020;
}

/* Dark theme */
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #f1f1f1;
  --color-secondary: #33A1E0;
  --color-accent: #33A1E015;
  --color-neutral:#000000;
  --color-info:#ff2020
}
